@import 'mixins';



.product{
    padding-top: 125px;
    .top-text{
        h2{
            font-size: 32px;
            color:$black-night;
            padding-bottom: 25px;
            @include mobile{
                padding-bottom: 15px;
                font-size: 28px;
            }
        }
        p{
            font-size: 18px;
            color: $black-night;
            @include mobile{
                font-size: 14px;
            }
        }
    }
    .product-box{
        width:350px;
        box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
         border: 1px solid $white;
         @include mobile{
            width: 100%;
            margin-bottom: 20px;
         }
         @include tablet{
            width: 100%;
         }
         @include desktop{
            width: 100%;
        }
         img{
            @include mobile{
                width: 100%;
            }
         }         

    }
}
.Capabilities{
    padding-top: 125px;
    padding-bottom: 100px;
    @include mobile{
        padding-bottom: 50px;
    }
    .top-text2{
        h2{
            font-size: 32px;
            color: $black-night;
            @include mobile{
                font-size: 28px;
            }
        }
    }
    .cap-box1{
        background-color: #ED174C;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 300px;
        align-items: center;
        justify-content: space-around;
        @include mobile{
            width: 100%;
            margin-bottom: 20px;
        }
        @include tablet{
            width: 100%;
            margin-bottom: 20px;
        }
        @include l-desktop{
            width: 100%;
            margin-bottom: 20px;
        }         
        img{
            width: 80px;
        }
        h3{
            font-size: 24px;
            color: $white;
            height:70px;
        }
    }
    .cap-box2{
        background-color: #0066CC;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 300px;
        align-items: center;
        justify-content: space-around;
        @include mobile{
            width: 100%;
            margin-bottom: 20px;
        }
        @include tablet{
            width: 100%;
            margin-bottom: 20px;
        }
        @include l-desktop{
            width: 100%;
            margin-bottom: 20px;
        }
        img{
            width: 80px;
        }
        h3{
            font-size: 24px;
            color: $white;
            height:70px;
        }
    }
    .cap-box3{
        background-color: #FDB913;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 300px;
        align-items: center;
        justify-content: space-around;
        @include mobile{
            width: 100%;
            margin-bottom: 20px;
        }
        @include tablet{
            width: 100%;
            margin-bottom: 20px;
        }
        @include l-desktop{
            width: 100%;
            margin-bottom: 20px;
        }
        img{
            width: 80px;
        }
        h3{
            font-size: 24px;
            color: $white;
            height:70px;
        }
    }
    .cap-box4{
        background-color: #85C446;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 300px;
        align-items: center;
        justify-content: space-around;
        @include mobile{
            width: 100%;
            margin-bottom: 20px;
        }
        @include tablet{
            width: 100%;
            margin-bottom: 20px;
        }
        @include l-desktop{
            width: 100%;
            margin-bottom: 20px;
        }
        img{
            width: 80px;
        }
        h3{
            font-size: 24px;
            color: $white;
            height:70px;
        }
    }
    .cap-box5{
        background-color: #09BCEF;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 300px;
        align-items: center;
        justify-content: space-around;
        @include mobile{
            width: 100%;
            margin-bottom: 20px;
        }
        @include tablet{
            width: 100%;
            margin-bottom: 20px;
        }
        @include l-desktop{
            width: 100%;
            margin-bottom: 20px;
        }
        img{
            width: 80px;
        }
        h3{
            font-size: 24px;
            color: $white;
            height:70px;
        }
    }
}

.blogs{
    padding-top: 125px;
    .top-text4{
        font-size: 32px;
        color: $black-night;
    }
    .blog-box{
        box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
-webkit-box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
        border: 1px solid $white;
        width:450px;
        @include mobile{
            width: 100%;
            margin-bottom: 20px;
        }       
        @include tablet{
            width: 100%;
            margin-bottom: 20px;
        }
        @include l-desktop{
            width: 100%;
            margin-bottom: 20px;
        }
        img{
            @include mobile{
                width: 100%;
            }
        }
        span{
            font-size: 18px;
            color: #A2A2A2;
        }
        h3{
            font-size: 24px;
            width:300px;
            @include mobile{
                font-size: 16px;
                width: 100%;
            }
        }
        p{
            font-size: 18px;
            width: 280px;
            @include mobile{
                font-size: 14px;
                width: 100%;
            }
            @include l-desktop{
                font-size: 16px;
            }
        }
        a{
            font-size: 24px;
            color:$black-night;
            @include mobile{
                font-size: 16px;
            }
            @include l-desktop{
                font-size: 20px;
            }
            &:hover{
                color: $yellow;
            }
        }
    }
    button{         
            width: 160px;
    }
}
.event{
    .top-text5{
        h2{
            font-size: 32px;
            color: $black-night;
        }        
    }
    .event-bar{
        box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
-webkit-box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 6px 5px 26px 1px rgba(0,0,0,0.5);
        border: 1px solid $white;
        // height: 150px;
        .right-img{
           img{
            width: 100%;
            height: 150px;
           }
        }
        .center-text{
            h3{
                font-size: 24px;
                @include mobile{
                    font-size: 20px;
                }
            }
            p{
                font-size: 18px;
                @include mobile{
                    font-size: 15px;
                }
                @include l-desktop{
                    font-size: 15px;
                }
            }
        }
        .left-text{
            h2{
                font-size: 32px;
                color: $black-night;
                @include mobile{
                    font-size: 20px;
                }
            }
            h3{
                font-size: 22px;
                color: $black-night;
                @include mobile{
                    font-size: 20px;
                }
            }

        }
    }
}

