
// ===============  576 px size ====================
@mixin mobile{
    @media (max-width: 576px) { 
        @content;
     }

}
// =============== 786 px size ====================
@mixin tablet{
    @media (max-width: 768px) { 
        @content;
     }
}
// =============== 992px size ====================
@mixin desktop{
    @media (max-width: 992px) { 
        @content;
    }
}
// =============== 1024 px size ====================
@mixin l-desktop{
    @media (max-width: 1024px) { 
        @content;
     }
}
// =============== 1400px size ====================
@mixin xl-desktop{
    @media (max-width: 1400px) { 
        @content;
    }
}