.news{
    padding-top: 125px;
    .top-text6{
        h2{
            font-size: 32px;
            color: $black-night;
            padding-bottom: 25px;
            @include mobile{
                font-size: 28px;
            }
        }
        p{
            font-size: 18px;
            color: $black-night;
            @include mobile{
                font-size: 15px;
            }
        }
    }
    .right-img{
        img{
            @include mobile{
                width: 100%;
            }
        }
    }
    .left-form{
        box-shadow: 0px 3px 10px #00000008;
        border: 1px solid grey;
        form{
            @include mobile{
                padding: 10px;
            }
            label{
                font-size: 24px;
            }
            input[type=text]{
                width: 100%;
                padding: 15px 10px;
                font-size: 24px;
                margin: 6px 0;
                box-sizing: border-box;
                border: none;
                border-bottom: 2px solid $black-night;
                @include mobile{
                    font-size: 14px;
                    margin: 0;
                    padding: 10px 4px;
                }
                @include tablet{
                    font-size: 18px;
                    padding: 10px 3px;
                }
            }
            p{
                font-size: 18px;
                color:$black-night;
                @include mobile{
                    font-size: 12px;
                }
                @include tablet{
                    font-size: 15px;
                }
            }  
            button{
                @include mobile{
                    width: 100px;
                }
            }      
        }
        
    }
}