.testonomial{
    padding-top:75px;
    background-color:#f2f2f2;
    .top-text3{
        font-size: 32px;
        color: $black-night;
    }
    .text-swipper{
        .swiper-slide{
            position: relative;
            span{
                position: absolute;
                font-size: 100px;
                top: -39px;
                left: 50px;
            }
            .swiper-box{
                box-shadow: 0px 3px 10px #00000008;
                border: 1px solid $white;
                background-color: $white;
                
                height: 450px;
                
                .star{
                    color: $yellow;
                }
                p{
                    font-size: 18px;
                    color: $black-night;
                    @include mobile{
                        font-size: 10px;
                    }
                }
                h3{
                    font-size: 24px;
                    @include mobile{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
