input,
select,
textarea {

	background-clip: border-box;
	margin: 0;
	outline: 0;
	vertical-align: top;
	width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
	width: auto;
	height: auto;
}

input[type="checkbox"] {
	appearance: checkbox;
}
img {
	max-width: 100%;
}

b,
strong {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}