*{
    font-family: 'Poppins', sans-serif;
}
section{
    overflow: hidden;
}

// body {
//     font-family: $sans-serif;
//     font-weight: 300;
//     line-height: 1.6;
//     font-size: rem(18px);
// }

.container{
    max-width: 1640px;
    padding: 0 50px;
    

    li{
         
        list-style:none;
    }
    a{
        text-decoration:none;
        color:#fff;
         
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-family: 'Poppins', sans-serif;
    }
    
h1 {
    font-size: rem(55px);
}

h2 {
    font-size: rem(48px);
}

h3 {
    font-size: rem(30px);
}

h4 {
    font-size: rem(25px);
}

h5 {
    font-size: rem(24px);
}

h6 {
    font-size: rem(18px);
}
}