footer{
    background-color: $black-night;
    .right-img{
        width: 245px;
        @include mobile{
            margin-top: 10px;
        }
    }
    .center-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 24px;
            color: $white;
        }
        ul{
            line-height: 30px;
            li{
                a{
                    font-size: 16px;
                }
            }
        }
    }
    .left-text{
        h3{
            font-size: 24px;
            color: $white;
        }
    }
}