 
.navbar{
    .navbar-brand{
        img{
            width: 120px;
        }
        button{
            @include mobile{
                width: 80px !important;
            }
        }
    }
    .navbar-collapse{
        ul{
            li{
                 a{
                    border-bottom: 1px solid transparent;
                    &:hover{
                        border-bottom: 1px solid $black-night;
                    }
                 }
            }
        }
    }
}

.hero-section{
    .carousel-inner{
        .carousel-item{
            position: relative;
            img{
                height: 80vh;
                object-fit: cover;
            }
            .carousel-caption{
                position: absolute;
                top: 50%;
                left: 50%;
                right: 0;
                transform: translate(-50%,-50%);
                align-items: center; 
                z-index: 3;               
            }
        }  
        &::before{
            content:"";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: #6b6b6d78;
            position: absolute;
        }      
    }
}